In [752]:
import pandas as pd
import numpy as np

In [753]:
data_frm = pd.read_csv('/home/abdeljalil/Desktop/youcode/Brief_Nettoyage_des_Donn-es/data_set.csv', encoding='latin1')
data_frm = pd.DataFrame(data_frm)
data_cpy = data_frm.copy()
pd.set_option("display.max_columns", None)
# data_cpy

In [754]:
# data_cpy.info()

In [755]:
data_cpy['Price'] = data_cpy['Price'].apply(lambda X : np.nan if X == 'PRIX NON SPÃCIFIÃ' else X)

In [ ]:
# Function to clean string values in the 'Price' column
def clean_value(x):
    if type(x) == str:  # Ensure it's a string
        # cleaned_value = x.replace('Â', '').replace('DH', '').replace(' ', '').strip()
        data_copy['Price'] = data_copy['Price'].str.replace(r'\D', '', regex=True)
        print(f"Original: {x} | Cleaned: {cleaned_value}")  # Debugging output
        return float(cleaned_value) if pd.notna(cleaned_value) else x
    return x

# Apply the cleaning function only to the 'Price' column
data_cpy['Price'] = data_cpy['Price'].apply(clean_value)

# Verify the result in the 'Price' column
print(data_cpy['Price'].head(10))

0    1Â 200Â 000 DH
1    1Â 750Â 000 DH
2       600Â 000 DH
3    1Â 350Â 000 DH
4       769Â 500 DH
5    6Â 000Â 000 DH
6       660Â 000 DH
7       570Â 000 DH
8    1Â 480Â 000 DH
9    1Â 450Â 000 DH
Name: Price, dtype: object

In [757]:
data_cpy['Price']

0       1Â 200Â 000 DH
1       1Â 750Â 000 DH
2          600Â 000 DH
3       1Â 350Â 000 DH
4          769Â 500 DH
             ...
1460    1Â 350Â 000 DH
1461               NaN
1462    1Â 450Â 000 DH
1463    1Â 000Â 000 DH
1464    1Â 200Â 000 DH
Name: Price, Length: 1465, dtype: object

In [758]:
data_cpy['Price'] = pd.to_numeric(data_cpy['Price'], errors='coerce')

In [759]:
data_cpy['Localisation'] = data_cpy['Localisation'].str.lower()
data_cpy['Secteur'] = data_cpy['Secteur'].str.lower()

In [760]:
data_cpy['Chambre'] = data_cpy['Chambre'].apply(lambda X : '10' if X == '10+' else X)
data_cpy['Chambre']=pd.to_numeric(data_cpy['Chambre'])

In [761]:
age_cate={'Neuf' : 0, '1-5 ans': 1 ,'6-10 ans': 6 ,'11-20 ans' : 11, '21+ ans' : 21}
data_cpy['Age de bien']=data_cpy['Age de bien'].map(age_cate)

In [762]:
data_cpy['Etage'] = data_cpy['Etage'].str.replace('7+', '7').str.replace('Rez de chaussÃ©e', '0')
data_cpy['Etage'] = pd.to_numeric(data_cpy['Etage'])
data_cpy['Etage'].unique()

array([ 5.,  2.,  3.,  1.,  8.,  4.,  0.,  6.,  7., nan])

In [763]:
data_cpy['Type'] = data_cpy['Type'].str.lower()
# data_cpy['Type'].unique()

In [764]:
data_cpy.describe()
# Calculer les statistiques descriptives (moyenne, médiane, écart type) pour comprendre la distribution des données.
# Si la différence entre la moyenne et la médiane est grande, cela indique une distribution asymétrique, influençant la méthode d’imputation à choisir.

,Price,Chambre,Salle de bain,Salons,Surface habitable,Age de bien,Etage,Frais de syndic
count,0.0,1465.000000,1465.000000,1432.000000,1440.000000,1183.000000,1459.000000,536.000000
mean,NaN,2.331058,2.023208,1.238827,96.690972,5.160609,2.240576,8052.272388
std,NaN,0.714046,7.409251,0.554709,84.233500,5.731550,1.532134,75242.521657
min,NaN,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000
25%,NaN,2.000000,1.000000,1.000000,65.000000,0.000000,1.000000,100.000000
50%,NaN,2.000000,1.000000,1.000000,84.000000,6.000000,2.000000,150.000000
75%,NaN,3.000000,2.000000,1.000000,110.000000,11.000000,3.000000,250.000000
max,NaN,10.000000,157.000000,8.000000,2111.000000,21.000000,8.000000,950000.000000

In [765]:
data_cpy.isnull().sum()
# missing_percentages = data_cpy.isnull().mean() * 100
# missing_percentages
# Mean: For columns with symmetric distributions where the mean and median are close.
# Median: For columns with right-skewed distributions (where the mean is much higher than the median).

URL                     0
Title                   0
Localisation            0
Price                1465
Chambre                 0
Salle de bain           0
Type                    2
Secteur                 0
Salons                 33
Surface habitable      25
Age de bien           282
Etage                   6
Frais de syndic       929
Ascenseur               0
Balcon                  0
Chauffage               0
Climatisation           0
Concierge               0
Cuisine equipee         0
Duplex                  0
Meuble                  0
Parking                 0
Securite                0
Terrasse                0
dtype: int64

In [766]:
# data_cpy['Etage'].isna()
data_cpy[data_cpy['Etage'].isna()]

,URL,Title,Localisation,Price,Chambre,Salle de bain,Type,Secteur,Salons,Surface habitable,Age de bien,Etage,Frais de syndic,Ascenseur,Balcon,Chauffage,Climatisation,Concierge,Cuisine equipee,Duplex,Meuble,Parking,Securite,Terrasse
507,https://www.avito.ma/fr/centre/locations_de_va...,belle appartement,kã©nitra,NaN,2,1,NaN,centre,NaN,NaN,NaN,NaN,NaN,non,non,non,non,non,non,non,non,non,non,non
648,https://www.avito.ma/fr/targa/appartements/App...,Appartement Ã vendre 360 mÂ² Ã Marrakech,marrakech,NaN,6,6,vendre,targa,2.0,360.0,NaN,NaN,NaN,non,non,non,non,non,non,non,non,non,non,non
1120,https://www.avito.ma/fr/californie/locations_d...,Appartement a vendre ( californie ),casablanca,NaN,2,1,NaN,californie,NaN,NaN,NaN,NaN,NaN,non,non,non,non,non,non,non,non,non,non,non
1184,https://www.avito.ma/fr/autre_secteur/appartem...,Appartement a vendre bouznika,bouznika,NaN,1,1,vendre,autre secteur,1.0,56.0,NaN,NaN,NaN,non,non,non,non,non,non,non,non,non,non,non
1230,https://www.avito.ma/fr/quartier_a%C3%A9rodrom...,appartement rez de chaussÃ©e a vendre,el jadida,NaN,3,2,vendre,quartier aã©rodrome,1.0,84.0,1.0,NaN,NaN,non,non,non,non,non,non,non,non,non,non,non
1234,https://www.avito.ma/fr/fquih_ben_saleh/appart...,Appartement a fquih ben saleh,fquih ben saleh,NaN,3,1,vendre,toute la ville,1.0,NaN,21.0,NaN,NaN,non,non,non,non,non,non,non,non,non,non,non

In [767]:
df_kech=data_cpy[data_cpy['Localisation']=='marrakech']
kech_secteur=df_kech[df_kech['Secteur']=='targa']
mode_kech=kech_secteur['Etage'].mode()
data_cpy['Etage'] =np.where(
    (data_cpy['Localisation']=='marrakech') & (data_cpy['Etage'].isna()),
    mode_kech , data_cpy['Etage']
)

In [768]:
df_knitra=data_cpy[data_cpy['Localisation']=='kã©nitra']
knitra_secteur = df_knitra[df_knitra['Secteur']=='centre']
med_knitra = knitra_secteur['Etage'].median()

data_cpy['Etage']=np.where(
    (data_cpy['Localisation']=='kã©nitra') & (data_cpy['Etage'].isna()) , 
    med_knitra , data_cpy['Etage']
)

In [769]:

df_casa=data_cpy[data_cpy['Localisation']=='casablanca']
casa_secteur = df_casa[df_casa['Secteur']=='californie']
mode_cas=casa_secteur['Etage'].mode()

data_cpy['Etage'] = np.where(
    (data_cpy['Localisation']=='casablanca') & (data_cpy['Etage'].isna()),
    mode_cas, data_cpy['Etage']
)

In [770]:
df_boznika = data_cpy[data_cpy['Localisation'] == 'bouznika']
secteur_bouznika = df_boznika[df_boznika['Secteur'] == 'autre secteur']
mode_bouznika = secteur_bouznika['Etage'].mode()
data_cpy['Etage'] = np.where((data_cpy['Localisation'] == 'bouznika') & (data_cpy['Etage'].isna()), mode_bouznika, data_cpy['Etage'])

In [771]:
df_jadida = data_cpy[data_cpy['Localisation'] == 'el jadida']
secteur_jedida = df_jadida[df_jadida['Secteur'] == 'quartier aã©rodrome']
mean_jadida = secteur_jedida['Etage'].mean()
data_cpy['Etage'] = np.where((data_cpy['Localisation'] == 'el jadida') & (data_cpy['Etage'].isna()), mean_jadida, data_cpy['Etage'])

In [772]:
df_fquih_bensaleh = data_cpy[data_cpy['Localisation'] == 'fquih ben saleh']
secteur_fqih = df_fquih_bensaleh[df_fquih_bensaleh['Secteur'] == 'toute la ville']
data_cpy = data_cpy[data_cpy['Localisation'] != 'fquih ben saleh']
df_fquih_bensaleh

,URL,Title,Localisation,Price,Chambre,Salle de bain,Type,Secteur,Salons,Surface habitable,Age de bien,Etage,Frais de syndic,Ascenseur,Balcon,Chauffage,Climatisation,Concierge,Cuisine equipee,Duplex,Meuble,Parking,Securite,Terrasse
1234,https://www.avito.ma/fr/fquih_ben_saleh/appart...,Appartement a fquih ben saleh,fquih ben saleh,NaN,3,1,vendre,toute la ville,1.0,NaN,21.0,NaN,NaN,non,non,non,non,non,non,non,non,non,non,non