In [153]:
import pandas as pd
import numpy as np

In [154]:
data_frm = pd.read_csv('/home/abdeljalil/Desktop/youcode/Brief_Nettoyage_des_Donn-es/data_set.csv', encoding='latin1')
data_frm = pd.DataFrame(data_frm)
data_cpy = data_frm.copy()
pd.set_option("display.max_columns", None)
# data_cpy

In [155]:
# data_cpy.info()

In [156]:
data_cpy['Price'] = data_cpy['Price'].apply(lambda X : np.nan if X == 'PRIX NON SPÃ\x89CIFIÃ\x89' else X)

In [157]:
data_cpy['Price']=data_cpy['Price'].apply(lambda x : float(x.replace('Â', '').replace('DH', '').replace('\xa0', '')) if isinstance(x, str) and 'Â' in x and 'DH' in x and '\xa0' in x else x)

In [158]:
data_cpy['Price'] = pd.to_numeric(data_cpy['Price'], errors='coerce')

In [159]:
data_cpy['Localisation'] = data_cpy['Localisation'].str.lower()
data_cpy['Secteur'] = data_cpy['Secteur'].str.lower()

In [160]:
data_cpy['Chambre'] = data_cpy['Chambre'].apply(lambda X : '10' if X == '10+' else X)
data_cpy['Chambre']=pd.to_numeric(data_cpy['Chambre'])

In [161]:
age_cate={'Neuf' : 0, '1-5 ans': 1 ,'6-10 ans': 6 ,'11-20 ans' : 11, '21+ ans' : 21}
data_cpy['Age de bien']=data_cpy['Age de bien'].map(age_cate)

In [198]:
data_cpy['Etage'] = data_cpy['Etage'].str.replace('7+', '7').str.replace('Rez de chaussÃ©e', '0')
data_cpy['Etage'] = pd.to_numeric(data_cpy['Etage'])
data_cpy['Etage'].unique()

array([ 5.,  2.,  3.,  1.,  8.,  4.,  0.,  6.,  7., nan])

In [ ]:
data_cpy['Type'] = data_cpy['Type'].str.lower()
# data_cpy['Type'].unique()

array(['vendre', 'louer', nan, 'location', 'demande'], dtype=object)

In [ ]:
data_cpy.describe()
# Calculer les statistiques descriptives (moyenne, médiane, écart type) pour comprendre la distribution des données.
# Si la différence entre la moyenne et la médiane est grande, cela indique une distribution asymétrique, influençant la méthode d’imputation à choisir.

,Price,Chambre,Salle de bain,Salons,Surface habitable,Age de bien,Etage,Frais de syndic
count,1.172000e+03,1465.000000,1465.000000,1432.000000,1440.000000,1183.000000,1459.000000,536.000000
mean,1.166683e+06,2.331058,2.023208,1.238827,96.690972,5.160609,2.240576,8052.272388
std,3.809706e+06,0.714046,7.409251,0.554709,84.233500,5.731550,1.532134,75242.521657
min,1.500000e+03,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000
25%,4.800000e+05,2.000000,1.000000,1.000000,65.000000,0.000000,1.000000,100.000000
50%,7.500000e+05,2.000000,1.000000,1.000000,84.000000,6.000000,2.000000,150.000000
75%,1.280000e+06,3.000000,2.000000,1.000000,110.000000,11.000000,3.000000,250.000000
max,1.250000e+08,10.000000,157.000000,8.000000,2111.000000,21.000000,8.000000,950000.000000

In [263]:
data_cpy.isnull().sum()
# missing_percentages = data_cpy.isnull().mean() * 100
# missing_percentages
# Mean: For columns with symmetric distributions where the mean and median are close.
# Median: For columns with right-skewed distributions (where the mean is much higher than the median).

URL                    0
Title                  0
Localisation           0
Price                293
Chambre                0
Salle de bain          0
Type                   2
Secteur                0
Salons                33
Surface habitable     25
Age de bien          282
Etage                  3
Frais de syndic      929
Ascenseur              0
Balcon                 0
Chauffage              0
Climatisation          0
Concierge              0
Cuisine equipee        0
Duplex                 0
Meuble                 0
Parking                0
Securite               0
Terrasse               0
dtype: int64

In [319]:
# data_cpy['Etage'].isna()
data_cpy[data_cpy['Etage'].isna()]

Empty DataFrame
Columns: [URL, Title, Localisation, Price, Chambre, Salle de bain, Type, Secteur, Salons, Surface habitable, Age de bien, Etage, Frais de syndic, Ascenseur, Balcon, Chauffage, Climatisation, Concierge, Cuisine equipee, Duplex, Meuble, Parking, Securite, Terrasse]
Index: []

In [239]:
df_kech=data_cpy[data_cpy['Localisation']=='marrakech']
kech_secteur=df_kech[df_kech['Secteur']=='targa']
mode_kech=kech_secteur['Etage'].mode()
data_cpy['Etage'] =np.where(
    (data_cpy['Localisation']=='marrakech') & (data_cpy['Etage'].isna()),
    mode_kech , data_cpy['Etage']
)

In [251]:
df_knitra=data_cpy[data_cpy['Localisation']=='kã©nitra']
knitra_secteur = df_knitra[df_knitra['Secteur']=='centre']
med_knitra = knitra_secteur['Etage'].median()

data_cpy['Etage']=np.where(
    (data_cpy['Localisation']=='kã©nitra') & (data_cpy['Etage'].isna()) , 
    med_knitra , data_cpy['Etage']
)

In [261]:

df_casa=data_cpy[data_cpy['Localisation']=='casablanca']
casa_secteur = df_casa[df_casa['Secteur']=='californie']
mode_cas=casa_secteur['Etage'].mode()

data_cpy['Etage'] = np.where(
    (data_cpy['Localisation']=='casablanca') & (data_cpy['Etage'].isna()),
    mode_cas, data_cpy['Etage']
)

In [289]:
df_boznika = data_cpy[data_cpy['Localisation'] == 'bouznika']
secteur_bouznika = df_boznika[df_boznika['Secteur'] == 'autre secteur']
mode_bouznika = secteur_bouznika['Etage'].mode()
data_cpy['Etage'] = np.where((data_cpy['Localisation'] == 'bouznika') & (data_cpy['Etage'].isna()), mode_bouznika, data_cpy['Etage'])

In [300]:
df_jadida = data_cpy[data_cpy['Localisation'] == 'el jadida']
secteur_jedida = df_jadida[df_jadida['Secteur'] == 'quartier aã©rodrome']
mean_jadida = secteur_jedida['Etage'].mean()
data_cpy['Etage'] = np.where((data_cpy['Localisation'] == 'el jadida') & (data_cpy['Etage'].isna()), mean_jadida, data_cpy['Etage'])

In [318]:
df_fquih_bensaleh = data_cpy[data_cpy['Localisation'] == 'fquih ben saleh']
secteur_fqih = df_fquih_bensaleh[df_fquih_bensaleh['Secteur'] == 'toute la ville']
data_cpy = data_cpy[data_cpy['Localisation'] != 'fquih ben saleh']
df_fquih_bensaleh

Empty DataFrame
Columns: [URL, Title, Localisation, Price, Chambre, Salle de bain, Type, Secteur, Salons, Surface habitable, Age de bien, Etage, Frais de syndic, Ascenseur, Balcon, Chauffage, Climatisation, Concierge, Cuisine equipee, Duplex, Meuble, Parking, Securite, Terrasse]
Index: []